
html {
    box-sizing: border-box;
  }


body{
    background-color: rgb(185, 163, 136);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#container{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    max-width: 330px;
    padding: 5px;
}

#screen{
    min-width: 320px;
    min-height: 140px;
    background-color: aquamarine;
}

#buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    padding-top: 6px;
    column-gap: 2px;
    row-gap: 6px;
    border-top: solid 1px gold;
}

button{
    padding: 10px;
    background-color: cornflowerblue;
}

#buttons > .operator{
    background-color: cornsilk;
}