
html {
    box-sizing: border-box;
    font-size: 100%;
    line-height: 1;
  }


body{
    background-color: rgb(185, 163, 136);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#container{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    margin-left: 40%;
    margin-right: 40%;
    padding: 5px;
}

#screen{
    
    min-height: 4rem;
    background-color: aquamarine;
    text-align: right;
    padding-top: 0;
    font-size: 1rem;
}
#visual_process{
    padding: 0.5rem;
    margin: 0;
    text-align: left;
    font-weight: lighter;
}
#visual_outcome{
    padding: 0.5rem;
    margin: 0;
    font-weight: 600;
}






#buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: stretch;
    gap: 2px;
    padding-top: 12px;
    margin-top: 15px;
    border-top: solid 1px gold;
}

button{
    padding: 10px;
    background-color: cornflowerblue;
}

#buttons > .operator{
    background-color: rgb(184, 155, 41);
}